<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.music.musicwebsitebackend.dao.SingerMapper">
    <resultMap id="BaseResultMap" type="com.music.musicwebsitebackend.entity.Singer" >
        <id column="id"  jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="pic" jdbcType="VARCHAR" property="pic"/>
        <result column="birth" jdbcType="TIMESTAMP" property="birthday"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="introduction" jdbcType="LONGVARCHAR" property="introduction"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,sex,pic,birth,location,introduction
    </sql>

    <insert id="insertSinger" parameterType="com.music.musicwebsitebackend.entity.Singer">
        insert into singer
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="pic != null">
                pic,
            </if>
            <if test="location != null">
                location,
            </if>
            <if test="introduction != null">
                introduction,
            </if>

        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="sex != null" >
                #{sex,jdbcType=TINYINT},
            </if>
            <if test="pic != null" >
                #{pic,jdbcType=VARCHAR},
            </if>
            <if test="birth != null" >
                #{birth,jdbcType=TIMESTAMP},
            </if>
            <if test="location != null" >
                #{location,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null" >
                #{introduction,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateSinger" parameterType="com.music.musicwebsitebackend.entity.Singer" >
        update singer
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="sex != null" >
                sex = #{sex,jdbcType=TINYINT},
            </if>
            <if test="pic != null" >
                pic = #{pic,jdbcType=VARCHAR},
            </if>
            <if test="birth != null" >
                birth = #{birth,jdbcType=TIMESTAMP},
            </if>
            <if test="location != null" >
                location = #{location,jdbcType=VARCHAR},
            </if>
            <if test="introduction != null" >
                introduction = #{introduction,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.music.musicwebsitebackend.entity.Singer" >
        update singer
        set name = #{name,jdbcType=VARCHAR},
        sex = #{sex,jdbcType=TINYINT},
        pic = #{pic,jdbcType=VARCHAR},
        birth = #{birth,jdbcType=TIMESTAMP},
        location = #{location,jdbcType=VARCHAR},
        introduction = #{introduction,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteSinger" parameterType="java.lang.Integer" >

        delete from singer
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <select id="findSinger" resultType="com.music.musicwebsitebackend.entity.Singer" parameterType="java.lang.Integer" >
        select
        from singer
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="findAllSinger" resultType="com.music.musicwebsitebackend.entity.Singer">
        select *
        from singer
    </select>
    <select id="findSingerByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select *
        from singer
        where name like #{name, jdbcType=VARCHAR}
    </select>

</mapper>
